
/*
	Tab Css
*/
.nav-tabs{
	float: left;
	width: 100%;
	margin: 0px;
	list-style: none;
	border-bottom: 1px solid #ddd;
}

.nav-tabs li{
	float: left;
	margin-bottom: -1px;
}

.nav-tabs li a {
    margin-right: -1px;
    padding: 15px 25px;
    border: 1px solid #ddd;
    border-radius: 0px 1px 0px 0px;
    float: left;
    color: #939393;
    text-decoration: none;
    font-size: 16px;
    background: #e5e5e5;
    font-weight: bold;
}
.nav-tabs li.active a{
	color: #333333;
	background: #F1F1F1;
	border-color: #ddd #ddd #F1F1F1;
}
.nav-tabs li a:hover{
	
}
.nav-tabs li.active a
.nav-tabs li.active a:hover
.nav-tabs li.active a:focus{
	color:#555;
	cursor: default;
	background-color: #F1F1F1;
	border:1px solid #ddd;
	border-bottom-color: transparent;
}
.tab-content .tab-pane{
	float:left;
	width: 96%;
	display: none;
}
.tab-content .tab-pane.active{
	display: block;
	padding: 2%;
	background-color: #F1F1F1;
}
.clear{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}


/*
	New Project Script	
*/
.all_field_container{
	float: left;
	width: 80%;
}
.all_field_container label{
    float:left;
    width: 100%;
}
.right_section{
	float: left;
	width: 20%;
}
#project_title{
	float: left;
	width: 99%;
}
.left_field_container{
	float: left;
	width: 27%;
}
.right_field_container {
    float: left;
    width: 73%;
    position: relative;
    padding-bottom: 30px;
}

.main_package_field #save_pack_data {
    background: #0085ba;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    float: left;
    padding: 4px 10px;
    border-radius: 4px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border: 1px solid #006799;
    cursor: pointer;
}
.package_field {
    float: left;
    width: 21%;
    margin-right: 10px;
    margin-bottom: 20px;
}
.right_field_container .package_field:first-of-type .add_rem_icons i.fa-minus-circle{
	display: none !important;
}
.package_field input{
    width: 70%;
}
.package_field span.add_rem_icons{
    float: right;
    width: 20%;
}
.package_field .add_rem_icons i{
	float: left;
    width: 100%;
    line-height: 14px;
    font-size: 12px;
    margin-left: 5px;
}
.right_field_container .package_field .add_pack_price {
    border: 1px solid #ddd;
    padding: 0rem .3rem;
    text-align: left;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    margin: 1rem 0px 0px !important;
    cursor: pointer;
    background: #fff;
    color: #333;
    text-shadow: 0px 0px 0px;
    font-size: 0.8rem;
    font-weight: normal;
    border-radius: 0px;
}
.price_container{
    float: left;
    position: fixed;
    width: 320px;
    background: #E4E4E4;
    padding: 10px 20px;
    display: none;
    z-index: 99;
}
.price_container.price_ovrlay{
	display: block !important;
}
.backgroundOverlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background: #333333;
	opacity: .5;
	z-index: 29;
    width: 100%;
    height: 100%;
}
.price_container_left {
    float: left;
    width: 90%;
}
.price_container_left_col {
    float: left;
    width: 47%;
    margin: 0 1.5%;
    margin-bottom: 8px;
}
.price_container_left_col input {
    float: left;
    width: 100%;
    padding: 8px 12px;
    border: 0px none;
    border-radius: 4px;
}
.price_container_right {
    float: left;
    width: 10%;
    padding: 13px 0px;
    text-align: center;
}
.price_container_right span i{
    font-size: 20px;
    line-height: 26px;
    color: #B2B2B2;
}
.price_container .user_price_cont:first-of-type .price_container_right span i.fa-minus-circle{
	display: none !important;
}

.function_drag_drop .function_container:first-child .function_container_icons i.fa-minus-circle,
.function_drag_drop .function_container:first-child .function_container_icons span.function_posi_nav i.fa-sort-up{
	display: none !important;
}
.group_fun_container .group_drag_drop:first-child .group_container .group_container_icons span i.fa-minus-circle,
.group_fun_container .group_drag_drop:first-child .group_container .group_container_icons span.group_posi_nav i.fa-sort-up{
	display: none !important;
}
.range_field {
    float: left;
    width: 40%;
    margin-right: 10px;
}
.range_field input{
	float: left;
    width: 100%;
}
.group_fun_container{
    float: left;
    width: 100%
}
.group_container{
    float: left;
    width: 98%;
    margin-top: 15px;
}

.group_container .group_container_left{
    float: left;
    width: 87%;
    background: #0073aa;
    border: 2px solid #0073aa;
    padding: 5px 1%;
}
.group_container .group_container_icons{
    float: left;
    width: 8.55%;
    color: #0073aa;
    padding: 0 1%;
}
.group_container .group_container_left .title_col{
    float: left;
    width: 30%;
}
.group_container .group_container_left .title_col .group_deactive {
    margin: 0px 0px 3px 4px;
}
.group_container .group_container_left .group_package_col_count {
    float: left;
    width: 15.8%;
    margin-left: 1%;
    border: 2px dashed #fff;
    height: 22px;
}
.group_container .group_container_left .group_package_col_count .outline{
    text-align: center;
}
.group_container .group_container_left .group_package_col_count span {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}
.all_field_container .project_submit {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.function_container{
    float: left;
    width: 98%;
    margin: 15px 0px 0;
}
.function_container .function_container_left{
	float: left;
	width: 87%;
    border: 2px dashed #0073aa;
    padding: 5px 1%;
}
.function_container .function_container_icons{
	float: left;
	width: 8.55%;
    color: #0073aa;
    padding: 0 1%;
}
.function_container .function_container_left .title_col{
    float: left;
    width: 30%;
}
.function_container .function_container_left .title_col .function_deactive {
    margin: 0px 0px 3px 4px;
}
.function_container .function_container_left .function_package_col_count{
    float: left;
    width: 15.8%;
    margin-left: 1%;
    border: 2px solid transparent;
}
.function_container .function_container_left .function_package_col_count .outline {
    margin: 0px 0px;
    clear: both;
    width: auto;
    text-align: center;
}
.function_container .function_container_left .function_package_col_count span {
    float: left;
    width: auto;
    position: relative;
    margin-left: 12px;
}
.function_container .function_container_left .function_package_col_count span input {
    position: absolute;
    float: left;
    left: 0;
    width: 22px;
    height: 22px;
    top: 5px;
    opacity: 0;
}
.function_container .function_container_left .function_package_col_count .outline span input:checked ~ i {
    background-color: #fff;
    color: #168FC0;
    border: 1px solid #fff;
}
.function_container .function_container_left .function_package_col_count span i {
    float: left;
    font-size: 24px;
    color: #fff;
    background: #168FC0;
    line-height: 22px;
    border-radius: 3px;
    border: 1px solid #168FC0;
}
.function_container .function_container_left .function_package_col_count span .iconedit{
    width: 280px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999;
    background: #f1f1f1;
    padding: 15px 20px;
}
.function_container .iconedit_container {
    float: left;
    margin: 0px 0px 10px;
}
.function_container .iconedit_container_left {
    float: left;
    width: 90%;
}
.function_container .iconedit_container_right {
    float: left;
    width: 10%;
    padding: 0px 0px;
    text-align: center;
}
.function_container .iconedit_container_left_col {
    float: left;
    width: 47%;
    margin: 0 1.5%;
    margin-bottom: 8px;
}
.function_container .function_package_col_count span .iconedit_container_right span {
    margin-left: 0px;
}
.function_container .function_package_col_count span .iconedit_container_right span i {
    font-size: 20px;
    line-height: 26px;
    color: #B2B2B2;
    background: transparent;
    border: 0px none;
}
.function_container .iconedit_container_bottom {
    width: 96%;
    float: left;
    text-align: left;
    padding: 0 2%;
    margin-bottom: 20px;
}
.function_container .iconedit_container_bottom p {
    margin: 10px 0px 5px;
    float: left;
    width: 100%;
}
.function_container .function_container_left .function_package_col_count span .iconedit input {
    float: left;
    width: 98%;
    opacity: 1;
    padding: 8px 12px;
    border: 0px none;
    border-radius: 4px;
    position: relative;
    height: auto;
    top: unset;
}
.function_container .function_container_left .function_package_col_count span:first-child i{
    margin-left: 0px; 
}
.group_container_icons span,
.function_container_icons span{
	float: left;
	width: auto;
	margin-right: 5px;
}

.group_container_icons .fa,
.function_container_icons .fa{
    font-size: 20px;
    line-height: 40px;
}
.group_container_icons .group_posi_nav,
.function_container_icons .function_posi_nav{
    width: 15px;
    text-align: center;
    position: relative;
    padding: 0px 0px;
    float: right;
    height: 40px;
}
.group_container_icons .fas, .function_container_icons .fas {
    font-size: 25px;
    line-height: 3px;
    height: 14px;
    float: left;
    position: absolute;
    overflow: hidden;
}
.group_container_icons .fas.fa-sort-up, .function_container_icons .fas.fa-sort-up {
    top: 8px;
}
.group_container_icons .fas.fa-sort-up, .function_container_icons .fas.fa-sort-up:before {
    line-height: 25px;
}
.group_container_icons .fas.fa-sort-down, .function_container_icons .fas.fa-sort-down {
    bottom: 5px;
}
.function_container_left .icon_info{
	margin-right: 5px;
	position: relative;
}
.function_container_left .info_container {
    display: none;
    position: fixed;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 20px;
    z-index: 999;
    background: #f1f1f1;
}
.function_container_left .info_container .info_container_textarea{
    float: left;
    width: 100%;
    display: none;
}
.function_container_left .info_container .info_container_textarea textarea{
    width: 100%;
    float: left;
}
.function_container_left .info_container .info_container_input{
    float: left;
    width: 100%;
    display: none;
}
.function_container_left .info_container .info_container_input input{
    width: 100%;
    float: left;
}
.function_container_left .icon_info .info_opt {
    display: none;
    position: absolute;
    bottom: 15px;
    color: #fff;
    background: rgba(0,0,0, 0.7);
    padding: 0px 0px 15px;
    border-radius: 6px;
    left: -20px;
    width: 65px;
}

.function_container_left .icon_info .info_opt li a {
    color: #fff;
    text-decoration: none;
    padding: 0px 13px;
    width: 39px;
    float: left;
}
.function_container_left .icon_info .info_opt li a:hover{
	background: #0073aa;
}
.project_submit .save_fu_gr_data {
    background: #0085ba;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    float: left;
    padding: 4px 10px;
    border-radius: 4px;
    border: 1px solid #006799;
    margin-right: 10px;
    cursor: pointer;
}
.currency_type {
    float: left;
    margin-right: 10px;
    border-radius: 0px;
    margin-top: 15px;
}
.pack_type {
    float: left;
    margin-top: 15px;
}






.sidebar_calcy{
    float: left;
    width: 20%;
}
.sidebar_calcy #submitdiv{
    width: 95%;
    min-width: auto;
    float: left;
    margin: 0px 0px 10px;
}
.sidebar_calcy #submitdiv h2 {
    padding: 10px 20px;
    margin: 0px;
}
.sidebar_calcy #submitdiv #major-publishing-actions {
    float: left;
    width: 90%;
}
.sidebar_calcy .clcproject_opt {
    float: left;
    width: 87%;
    padding: 17px 4%;
}

.sidebar_calcy .clcproject_opt .group_sec_opt {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.sidebar_calcy .clcproject_opt .group_sec_opt .grpopt_title {
    font-size: 18px;
    float: left;
    width: 100%;
    margin-bottom: 14px;
}
.sidebar_calcy .clcproject_opt .group_sec_opt .grpopt_opt{
    float: left;
    width: 40%;
}
.sidebar_calcy .clcproject_opt .pro_color{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.sidebar_calcy .clcproject_opt .pro_color .title {
    font-size: 1rem;
    float: left;
    width: 100%;
    margin-bottom: 1rem;
}
.sidebar_calcy .clcproject_opt .clcproject_package_text{
    float: left;
    width: 100%;
}
.sidebar_calcy .clcproject_opt .clcproject_package_text .clcproject_package_opt{
    float: left;
    width: 100%;
    margin-bottom: 1rem;
}
.sidebar_calcy .clcproject_opt .clcproject_package_text .clcproject_package_opt input, .sidebar_calcy .clcproject_opt .clcproject_package_text .clcproject_package_opt select{
    width: 100%;
}







/************** Accordion CSS *********************************/


.accordionWrapper{padding:30px;background:#fff;float:left;width:80%;box-sizing:border-box;margin:10%;    box-shadow: 0 1.5em 85px 0 rgba(0, 0, 0, 0.2);}
.accordionItem{
    float:left;
    display:block;
    width:100%;
    box-sizing: border-box;
    font-family:'Open-sans',Arial,sans-serif;
}
.accordionItemHeading{
    cursor:pointer;
    margin:0px 0px 10px 0px;
    padding:10px;
    background:#2980b9;
    color:#fff;
    width:100%;
    -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
        box-sizing: border-box;
}
.close .accordionItemContent{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    float:left;
    display:block;
    
    
}
.open .accordionItemContent{
        padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display:block;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;

    -webkit-transition: -webkit-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease;
    -ms-transition: -ms-transform 0.4s ease;
    transition: transform 0.4s ease;
        box-sizing: border-box;
}

.open .accordionItemHeading{
    margin:0px;
        -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #bdc3c7;
    color: #7f8c8d;
}
#wpfooter{
    position: relative !important; 
}
